In [12]:
import pymysql
pymysql.install_as_MySQLdb()
from pandas.io import sql
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine
import pandas as pd
import pymysql

# Create a connection object
dbServerName    = "127.0.0.1"
dbUser          = "root"
dbPassword      = "password"
dbName          = "JobPosts"

 
connectionObject   = pymysql.connect(host=dbServerName, user=dbUser, password=dbPassword,

                                     db=dbName)

try:
    # Create a cursor object

    cursorObject = connectionObject.cursor() 
    selectStatement="SELECT Vacancy.Vacancy_id ,Vacancy.City , Job.Job_name ,Vacancy.job_category , Vacancy.job_description ,Vacancy.Job_Date, \
      Vacancy.num_vacancies, Vacancy.salary_maximum , Vacancy.salary_minimum , Vacancy.career_level \
      from Vacancy,Job where Vacancy.Job_id2 = Job.Job_id "

    cursorObject.execute(selectStatement)
    table_rows = cursorObject.fetchall()
    vacancy = pd.DataFrame(list(table_rows), columns=['Vacancy_id','City','job_title','job_category','job_description','Job_Date'\
                                                     ,'num_vacancies','salary_maximum','salary_minimum','career_level'])

except Exception as e:

    print("Exeception occured:{}".format(e))

finally:

    connectionObject.close()

In [13]:
df = pd.DataFrame(columns = ['job_description', 'keywords']) 
df['job_description']=vacancy['job_description']

In [14]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
from bs4 import BeautifulSoup
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/rowan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
vacancy["job_description"].fillna( ' ', inplace = True) 

"""#TF-IDF"""

#Fetch wordcount for each abstract
vacancy['word_count'] = vacancy['job_description'].apply(lambda x: len(str(x).split(" ")))
vacancy[['job_description','word_count']].head()

vacancy.word_count.describe()

freq = pd.Series(' '.join(vacancy['job_description']).split()).value_counts()[:20]
#freq
#Identify uncommon words
freq1 =  pd.Series(' '.join(vacancy 
         ['job_description']).split()).value_counts()[-20:]
#freq1

from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('wordnet')
# Libraries for text preprocessing
import re
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
#nltk.download('wordnet') 
from nltk.stem.wordnet import WordNetLemmatizer
lem = WordNetLemmatizer()
stem = PorterStemmer()
##Creating a list of stop words and adding custom stopwords
stop_words = set(stopwords.words("english"))
##Creating a list of custom stopwords
new_words = ["bull","nbsp","amp"]
stop_words = stop_words.union(new_words)

def remove_html_tags(text):
 #   """Remove html tags from a string"""
    import re
    clean = re.compile('(\<(\/)?(\w)*(\d)?\>)')
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

corpus = []
vacancy_count = len(vacancy)
for i in range(0,vacancy_count ):
        #remove tags
    text = remove_html_tags(vacancy['job_description'][i])
    
    #Remove punctuations
    text = re.sub('[^a-zA-Z]', ' ',text)
    
    #Convert to lowercase
    text = text.lower()
    

    #text=re.sub("&lt;/?.*?&gt;"," &lt;&gt; ",text)
    
    # remove special characters and digits
    text=re.sub("(\\d|\\W)+"," ",text)
    
    ##Convert to list from string
    text = text.split()
    
    ##Stemming
    ps=PorterStemmer()
    #Lemmatisation
    lem = WordNetLemmatizer()
    text = [lem.lemmatize(word) for word in text if not word in  
            stop_words] 
    text = " ".join(text)
    corpus.append(text)


from sklearn.feature_extraction.text import CountVectorizer
import re
cv=CountVectorizer(stop_words=stop_words, max_df=0.4,max_features=1000, ngram_range=(1,3))
#df2['job_description'] = df2['job_description'].apply(lambda x: cv.fit_transform(x))

X=cv.fit_transform(corpus)


from sklearn.feature_extraction.text import TfidfTransformer
 
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(X)
# get feature names
feature_names=cv.get_feature_names()
 
# fetch document for which keywords needs to be extracted

 
#generate tf-idf for the given document
#tf_idf_vector=tfidf_transformer.transform(cv.transform([doc]))


#Function for sorting tf_idf in descending order
from scipy.sparse import coo_matrix
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)
 
def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
 
    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])
 
    #create a tuples of feature,score
    #results = zip(feature_vals,score_vals)
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results


def get_TF(text):
  tf_idf_vector=tfidf_transformer.transform(cv.transform([text]))
  #sort the tf-idf vectors by descending order of scores
  sorted_items=sort_coo(tf_idf_vector.tocoo())
  #extract only the top n; n here is 10
  keywords=extract_topn_from_vector(feature_names,sorted_items,50)
  keys=[]
  for k in keywords:
    keys.append(k)
  keysStr = ','.join(keys)
  return keysStr

df2=vacancy
df2['job_description'] = df2['job_description'].apply(lambda x: get_TF(x))

[nltk_data] Downloading package wordnet to /home/rowan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [16]:
df2

,Vacancy_id,City,job_title,job_category,job_description,Job_Date,num_vacancies,salary_maximum,salary_minimum,career_level,word_count
0,1,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,,2014-01-01 06:01:41,8,3500,2000,Entry Level,101
1,26,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-01-05 11:01:50,2,5000,3500,Experienced (Non-Manager),321
2,51,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,,2014-01-06 16:01:50,2,1750,1000,Experienced (Non-Manager),70
3,78,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,"pm last shift,pm last",2014-01-09 12:01:59,15,2700,2000,Entry Level,215
4,79,maadi,Sales & Marketing Specialist,Sales_Retail_Business Development,"pm last shift,pm last",2014-01-09 12:01:59,15,2700,2000,Entry Level,215
5,743,cairo,Sales & Marketing Specialist,Marketing,,2014-03-01 12:03:54,1,1200,800,Entry Level,40
6,956,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-03-15 17:05:16,8,2500,1200,Entry Level,45
7,1094,giza,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-03-23 10:03:54,2,1500,1200,Entry Level,27
8,1551,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-04-28 07:04:24,5,3000,1200,Entry Level,23
9,1585,cairo,Sales & Marketing Specialist,Marketing,ul,2014-04-29 20:04:48,1,8000,4000,Manager,76
10,1600,cairo,Sales & Marketing Specialist,Marketing,ul,2014-04-30 14:04:06,1,8000,4000,Manager,76
11,1987,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,"ul,challenging career",2014-05-21 02:05:53,80,2500,2000,Entry Level,49
12,2055,6th of october,Sales & Marketing Specialist,Marketing,"ul,implementation corporate",2014-06-01 10:48:22,1,10000,1500,Experienced (Non-Manager),71
13,2068,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-05-28 10:58:35,5,2500,2000,Experienced (Non-Manager),6
14,2098,cairo,Sales & Marketing Specialist,Marketing,ul,2014-06-22 11:04:26,2,650,500,Student,43
15,2236,cairo,Sales & Marketing Specialist,Marketing,ul,2014-06-06 22:06:51,3,2500,2000,Experienced (Non-Manager),12
16,2239,alexandria,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-06-09 17:45:01,4,1500,750,Experienced (Non-Manager),60
17,2253,cairo,Sales & Marketing Specialist,Marketing,ul,2014-06-09 10:06:11,1,20000,17000,Manager,143
18,2502,cairo,Sales & Marketing Specialist,Marketing,ul,2014-06-24 15:06:13,1,10000,3000,Manager,101
19,2657,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-07-04 15:07:11,2,2000,1200,Experienced (Non-Manager),110
20,2677,cairo,Sales & Marketing Specialist,Marketing,ul,2014-07-06 14:19:46,1,2500,1500,Entry Level,32
21,2678,cairo,Sales & Marketing Specialist,Business,,2014-07-06 15:07:16,1,2500,1500,Entry Level,28
22,2723,cairo,Sales & Marketing Specialist,Marketing,ul,2014-07-08 15:07:09,2,650,500,Entry Level,90
23,2838,cairo,Sales & Marketing Specialist,Marketing,ul,2014-07-17 01:50:17,1,2000,700,Entry Level,31
24,2840,alexandria,Sales & Marketing Specialist,Sales_Retail_Business Development,ul,2014-07-14 15:07:23,4,1500,750,Experienced (Non-Manager),60
25,2945,cairo,Sales & Marketing Specialist,Marketing,"ul,rapid accurate,implementing controlling ana...",2014-07-22 12:49:22,1,2500,1500,Experienced (Non-Manager),226
26,2949,cairo,Sales & Marketing Specialist,Marketing,ul,2014-07-18 15:07:45,2,650,500,Entry Level,91
27,3140,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,"ul,team identify new",2014-08-05 16:08:27,1,2000,1500,Entry Level,52
28,3515,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,"ul,team identify new",2014-08-31 14:08:38,1,2500,1500,Entry Level,49
29,3534,cairo,Sales & Marketing Specialist,Sales_Retail_Business Development,"ul,team identify new",2014-08-27 15:08:19,1,2000,1500,Entry Level,52
...,...,...,...,...,...,...,...,...,...,...,...
22281,22103,cairo,Website Creator - Internship,IT_Software Development,ul,2016-05-16 09:05:31,1,1000,500,Student,123
22282,22108,cairo,Senior Sales & Marketing Consultant,Sales_Retail_Business Development,"ul,handling existing client",2016-05-16 10:05:05,3,6500,5000,Experienced (Non-Manager),134
22283,22119,cairo,Corporate Technical Intern,Engineering,"ul,year bachelor degree,year bachelor,extra cu...",2016-05-16 13:05:33,1,0,0,Student,148
22284,22121,cairo,Sr. Mechanical Engineer,Engineering,ul,2016-05-16 13:05:27,2,10000,5000,Experienced (Non-Manager),20
22285,22140,cairo,Senior English Writer,Editorial_Writing,,2016-05-16 16:05:06,1,8000,6000,Experienced (Non-Manager),148
22286,22156,giza,Acaedmic Staff - Faculty of Dentistry,Education_Training,ul,2016-05-17 09:05:23,10,1800,1200,Experienced (Non-Manager),47
22287,22165,cairo,CSR - Multinational Bank,Banking,ul,2016-05-17 09:05:07,15,3500,2000,Entry Level,41
22288,22166,giza,looking for telle sales,Marketing,osn,2016-05-17 10:05:46,1,1200,1000,Entry Level,25
22289,22178,cairo,Telemarketer & Client Relations Specialist,Customer Service_Support,"ul,telemarketer,healthcare insurance employmen...",2016-05-19 09:27:22,2,4250,3500,Entry Level,90
22290,22181,cairo,Audio Visual Site Engineer,Installation_Maintenance_Repair,"ul,help team achieve",2016-05-17 12:05:20,2,5000,3000,Experienced (Non-Manager),258
22291,22194,cairo,Clients Relations Manager,Customer Service_Support,ul,2016-05-17 13:05:32,1,10000,8000,Manager,84
22292,22199,cairo,Landscape Agricultural Manager for Villas Sect...,Engineering,"landscape maintenance,weed control,ul,repair i...",2016-05-17 13:05:16,1,15000,10000,Manager,389
22293,22201,cairo,Technical Section Head,Manufacturing_Production_Operations,ul,2016-05-17 14:05:58,1,0,0,Manager,198
22294,22224,giza,STEM Education & Renewable Energy Instructor,Education_Training,ul,2016-05-18 12:58:17,5,3000,1500,Entry Level,58
22295,22229,cairo,Fresh Front-End Developer,IT_Software Development,,2016-05-17 21:05:50,3,3500,2000,Entry Level,49
22296,22233,cairo,UI Developer Intern Avidbeam - Internship,Engineering,ul,2016-05-17 23:05:18,3,0,0,Student,23
22297,22234,cairo,Data Analytics Intern Avidbeam -Internship,Engineering,ul,2016-05-17 23:05:00,3,0,0,Student,23
22298,22235,cairo,Executive Site Engineer,Engineering,ul,2016-05-18 07:05:18,1,9000,6000,Manager,48
22299,22252,cairo,D or D Designer,Creative_Design,ul,2016-05-18 12:05:16,4,0,0,Experienced (Non-Manager),72
22300,22263,cairo,IT Programmer,IT_Software Development,ul,2016-05-18 13:05:07,1,12000,5000,Experienced (Non-Manager),66
22301,22264,cairo,Quality Supervisor - Printing,Engineering,"ul,follow new operating",2016-05-18 13:05:35,1,7000,1000,Experienced (Non-Manager),79
22302,22273,giza,Senior Site Finishing Engineer,Engineering,ul,2016-05-18 14:05:21,1,6500,5000,Experienced (Non-Manager),14
22303,22277,giza,Product & Industrial Designer,Creative_Design,"ul,sand product,team pioneer,identify innovati...",2016-05-19 00:05:08,2,2500,2000,Entry Level,164
22304,22287,6th of october,Product & Industrial Designer,Creative_Design,"ideate develop,identify innovation need,identi...",2016-05-18 16:05:18,1,3500,3000,Entry Level,62
22305,22286,cairo,Event Operations Manager,Management,ul,2016-05-18 16:05:48,1,12500,8500,Manager,180
22306,22288,giza,Senior Product & Industrial Designer,Creative_Design,"ul,sand product,team pioneer,identify innovati...",2016-05-19 00:05:48,1,4000,3500,Entry Level,167
22307,22289,cairo,Online Sales & Marketing Specialist,Sales_Retail_Business Development,build audience,2016-05-18 17:05:42,1,2000,1700,Entry Level,90
22308,22291,cairo,Senior Test Engineer,IT_Software Development,,2016-05-18 20:05:32,1,3000,2000,Experienced (Non-Manager),1
22309,22299,giza,ERP Administrator,IT_Software Development,ul,2016-05-19 08:05:15,1,4000,2000,Experienced (Non-Manager),104
22310,22311,cairo,Microsoft Product Manager,IT_Software Development,,2016-05-19 10:05:15,2,8000,6000,Experienced (Non-Manager),207

In [17]:
df['keywords']=df2['job_description']
df

,job_description,keywords
0,<p><strong>Qualifications</strong>:<br /><br /...,
1,<strong>Description:</strong>\n<p><strong>Gene...,ul
2,<strong>General Summary:</strong> <br /><br />...,
3,"<br /><br /><strong><span style=""text-decorati...","pm last shift,pm last"
4,"<br /><br /><strong><span style=""text-decorati...","pm last shift,pm last"
5,&bull;Participate in implementation of sales a...,
6,"<ul>\n<li>Sales, Marketing, &amp; e-marketing ...",ul
7,"<div style=""direction: rtl;"">\n<div style=""dir...",ul
8,<ul>\n<li>Sales or marketing specialist in fie...,ul
9,<strong>ملخص الوظيفة:</strong>\n<ul>\n<li>العم...,ul
10,<strong>ملخص الوظيفة:</strong>\n<ul>\n<li>العم...,ul
11,<strong>A leading multinational company seeks ...,"ul,challenging career"
12,<ul>\n<li>Middle East Enterprise Solutions see...,"ul,implementation corporate"
13,<ul>\n<li>Sales/ Business development speciali...,ul
14,<ul>\n<li>L.A Media And Events Solutions are l...,ul
15,<ul>\n<li>Sales and Marketing female candidate...,ul
16,"<ul>\n<li>Establishes, develops and maintains ...",ul
17,<ul>\n<li>Create a sales and marketing strateg...,ul
18,"<ul>\n<li>Formulate, direct and coordinate mar...",ul
19,<strong>Our Objectives are:</strong> <br /><br...,ul
20,<ul>\n<li>We are import &amp; export company l...,ul
21,We are import &amp; export company.<br />We ne...,
22,<ul>\n<li>Main focus on the sales and marketin...,ul
23,"<ul>\n<li><span><span>,شركة كبري تبحث عن فتيات...",ul
24,"<ul>\n<li>Establishes, develops and maintains ...",ul
25,"<ul>\n<li>Gathering market, and customer infor...","ul,rapid accurate,implementing controlling ana..."
26,<ul>\n<li>Main focus on the sales and marketin...,ul
27,<ul>\n<li>Present company products/services fo...,"ul,team identify new"
28,<ul>\n<li>Present company products/services fo...,"ul,team identify new"
29,<ul>\n<li>Present company products/services fo...,"ul,team identify new"
...,...,...
22281,<p><strong>Job Description:</strong></p>\n<ul>...,ul
22282,<ul>\n<li>Meeting the target.</li>\n<li>Handli...,"ul,handling existing client"
22283,<p><strong>Description:</strong></p>\n<p>&nbsp...,"ul,year bachelor degree,year bachelor,extra cu..."
22284,<ul>\n<li>Calculate and design the plumbing fo...,ul
22285,We&rsquo;re looking for a talented Senior Engl...,
22286,<p>MSA University is announcing the opening fo...,ul
22287,<p>Paid 11 months internship in the customer s...,ul
22288,osn orbit showtime looking for girls to workin...,osn
22289,"<p><span style=""text-decoration: underline;""><...","ul,telemarketer,healthcare insurance employmen..."
22290,<ul>\n<li>Prepare the execution Plan of projec...,"ul,help team achieve"
22291,"<ul>\n<li><span style=""font-size: 12px;"">Achie...",ul
22292,<strong>Job Purpose:<br /><br /></strong>\n<p>...,"landscape maintenance,weed control,ul,repair i..."
22293,<ul>\n<li>Minimize business risk regarding pro...,ul
22294,"<ul>\n<li>Teaching Robotics programming, STEM ...",ul
22295,Fresh Front-End Developers\n<p>Experienced are...,
22296,<ul>\n<li>The intern will participate in devel...,ul
22297,<ul>\n<li>The Intern will participate in writi...,ul
22298,"<ul>\n<li>Manage site foremen, store keepers a...",ul
22299,<ul>\n<li>We are seeking a talented Graphic De...,ul
22300,<ul>\n<li>Architect and develop scalable and r...,ul
22301,<ul>\n<li>Follow-up to the new operating order...,"ul,follow new operating"
22302,<ul>\n<li>Responsible for all finishing work a...,ul
22303,<p>To lead the end-to-end product design and d...,"ul,sand product,team pioneer,identify innovati..."
22304,To lead the end-to-end product design and deve...,"ideate develop,identify innovation need,identi..."
22305,Event Republic is looking to hire an experienc...,ul
22306,To lead the end-to-end product design and deve...,"ul,sand product,team pioneer,identify innovati..."
22307,"<p>&bull; Create, develop and manage content f...",build audience
22308,,
22309,<ul>\n<li>Act as a primary interface with ERP ...,ul
22310,- Identify new areas / lines of business that ...,

In [18]:
df.to_csv(r'/home/rowan/Desktop/website/public/keywords1.csv')

In [ ]:
word_frequency = pd.DataFrame(df2.job_description.str.split(',').tolist(), index=df2.job_title).stack()
word_frequency = word_frequency.reset_index()[[0, 'job_title']] # var1 variable is currently labeled 0
word_frequency.columns = ['job_description', 'job_title'] # renaming var1

In [ ]:
word_frequency

In [ ]:
word_frequency.groupby(['job_title'])

In [ ]:
word_frequency['job_title'] = word_frequency['job_title'].astype('str')
word_frequency['job_description'] = word_frequency['job_description'].astype('str')
word_frequency = word_frequency.rename(columns={'job_description': 'skill_name'})
# word_frequency.drop_duplicates(keep=False,inplace=True)

In [ ]:
word_frequency = word_frequency.groupby(['job_title', 'skill_name']).size().reset_index(name='Freq')
word_frequency=word_frequency.sort_values(by='Freq', ascending=False)
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"\
.format(user="root",pw="password",db="JobPosts"))
word_frequency.to_sql(con=engine, name='word_frequency', if_exists='replace', index=False)

In [ ]:
word_frequency

In [ ]:
# word_frequency.to_csv(r'/home/rowan/Desktop/website/keywords.csv')